section.About
  h2 Acerca de Ayrton
  p
    | Fue un piloto de automovilismo de velocidad brasile&ntilde;o. Tres veces campe&oacute;n
    | del mundo de F&oacute;rmula 1, Senna est&aacute; entre los m&aacute;s exitosos y dominantes
    | pilotos de la era moderna y para muchos expertos, es el m&aacute;s r&aacute;pido de la
    | historia.1
    | La reconocida revista Autosport en el a&ntilde;o 2009 se puso en contacto con 217
    | pilotos y expilotos de la F&oacute;rmula 1 para realizar una votaci&oacute;n y crear un
    | ranking de los mejores pilotos de la historia, de dicho serial, la lista estaba
    | encabezada por Ayrton Senna.2
    | El piloto compiti&oacute; en F&oacute;rmula 1 para los equipos Toleman, Lotus, McLaren y
    | Williams, entre 1984 y 1994 ganando el campeonato mundial en 1988, 1990 y
    | 1991, siendo subcampe&oacute;n en 1989 y 1993, tercero en 1987 y cuarto en 1985, 1986
    | y 1992 acumulando en total 41 victorias (seis de ellas en el Gran Premio de
    | M&oacute;naco, r&eacute;cord para el evento), 80 podios y 65 pole positions en tan solo 162
    | clasificaciones, con una efectividad del 40%.
    | Tambi&eacute;n fue aclamado por sus extraordinarios desempe&ntilde;os con pista
    | mojada, como el Gran Premio de M&oacute;naco de 1984, Gran Premio de Portugal de
    | 1985 y Gran Premio de Europa de 1993 teniendo los dem&aacute;s pilotos coches
    | superiores.