header
  .Senna-Logo
    a(href="index.html") 
      img(src='img/ayrton-senna.svg' alt='')
  .Nav-container
    nav.Navegacion
      li
        a(href='index.html') Inicio
      li
        a(href='equipos.html') Equipos
      li
        a(href='instituto.html') Instituto
      li
        a(href='onboard.html') Onboards