section.Logros
  .Logros-item
    img(src='img/trophy-solid.svg' alt='')
    h1 80
    h3 Podios
  .Logros-item
    img(src='img/flag-checkered-solid.svg' alt='')
    h1 41
    h3 Victorias
  .Logros-item
    img(src='img/hand-point-up-regular.svg' alt='')
    h1 610
    h3 Puntos