section.Senna-landscape
  img(src='img/mclaren1.jpg' alt='')
  .Senna-quotetop
    p
      | El Principado de Monaco fue su mejor GP con m&aacute;s de 2 segundos por delante de Alain Prost
  .Senna-quotebottom
    blockquote &quot;Estas muy por delante de la punta, disminuye la velocidad&quot; - Ron Dennis