doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='icon' type='image/svg+xml' href='img/ayrton-senna.svg')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='css/style.css')
    title Ayrton Senna Tribute Page | Equipos 
  body
    include includes/_header.pug
  section.Equipos
    section.Toleman
      img.Team-Logo(style src="img/toleman-logo-1.svg", alt="")
      section.Teams-Wrapper
        figure.Toleman-Imagenes
          img.Team-Pic(src="img/toleman.jpg", alt="Toleman Car Picture")
        section.Toleman-Descripcion
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolore assumenda consequuntur illo accusamus impedit obcaecati quam debitis, ratione doloremque soluta dicta dolores nobis corporis illum esse temporibus magnam id?
    section.Lotus
        img.Team-Logo(style src="img/lotuslogo.svg", alt="Lotus Logo SVG")
      section.Teams-Wrapper
        img.Team-Pic(src="img/lotus1.jpg", alt="Lotus Car First")
        img.Team-Pic(src="img/lotus2.jpg", alt="Lotus Car Sec")
        section.Lotus-Descripcion
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolore assumenda consequuntur illo accusamus impedit obcaecati quam debitis, ratione doloremque soluta dicta dolores nobis corporis illum esse temporibus magnam id?
    .Mclaren
      .Mclaren-Imagenes
        img.Team-Logo(style src="img/mclarenlogo.svg", alt="")
        img.Team-Pic(src="img/mclaren1.jpg", alt="Mclaren Car First")
        img.Team-Pic(src="img/mclaren2.jpg", alt="Mclaren Car Second")
        img.Team-Pic(src="img/mclaren3.jpg", alt="Mclaren Car Third")
        img.Team-Pic(src="img/mclaren4.jpg", alt="Mclaren Car Fourth")
        img.Team-Pic(src="img/mclaren5.jpg", alt="Mclaren Car Fifth")
      .Mclaren-Descripcion
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolore assumenda consequuntur illo accusamus impedit obcaecati quam debitis, ratione doloremque soluta dicta dolores nobis corporis illum esse temporibus magnam id?
    .Williams
      .Williams-Imagenes
        img.Team-Logo(style src="img/williamslogo.svg", alt="Williams Logo SVG")
        img.Team-Pic(src="img/williams.jpg", alt="Williams Car First")
      .Toleman-Descripcion
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolore assumenda consequuntur illo accusamus impedit obcaecati quam debitis, ratione doloremque soluta dicta dolores nobis corporis illum esse temporibus magnam id?
  footer
    p Ayrton Senna P&aacute;gina Tributo | Enzo Aguiar 2021