doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' type='image/svg+xml' href='img/ayrton-senna.svg')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='css/style.css')
  title  Ayrton Senna Tribute Page
include includes/_header.pug
section.Head-Container
  h1 Ayrton Senna da Silva
  img(src='img/ayrton.jpg' alt='')
  h2 Piloto de F&oacute;rmula 1 | 3 veces Campe&oacute;n de la F1 | Leyenda del Automotor
include includes/_about.pug
include includes/_logros.pug
include includes/_SennaLS.pug
footer
  p Ayrton Senna P&aacute;gina Tributo | Enzo Aguiar 2021
script(src='js/functions.js')
